/* ..................................................................................................... */
/* BAIXO CONTRASTE */
.contrast,
.contrast div,
.contrast ol,
.contrast footer,
.contrast section,
.contrast main,
.contrast aside,
.contrast article .contrast header {
    background: rgba(255, 255, 255, 0.906);
    color: rgb(0, 0, 0) !important;
}

.contrast li,
.contrast menu,
.contrast col,
.constrast nav {
    background: rgb(17, 13, 13) !important;
    color: rgb(0, 0, 0) !important;
}

.contrast img {
    background: rgb(189, 189, 189) !important;
}

.contrast h1,
.contrast h2,
.contrast h3,
.contrast h4,
.contrast h5,
.contrast h6 {
    color: rgb(0, 0, 0) !important;
}

.contrast p,
.contrast label,
.contrast strong,
.contrast em,
.contrast cite,
.contrast q,
.contrast i,
.contrast b,
.contrast u,
.contrast span {
    color: rgb(0, 0, 0) !important;
    font-weight: 500;
}

.contrast a {
    color: rgb(135, 135, 9) !important;
}

.contrast button,
.contrast input[type=button],
.contrast input[type=reset],
.contrast input[type=submit] {
    background: rgba(207, 207, 207, 0.34) !important;
    color: rgb(154, 154, 3) !important;
    border: none !important;
}

.contrast input[type=text],
.contrast input[type=password],
.contrast input[type=url],
.contrast input[type=search],
.contrast input[type=email],
.contrast input[type=tel],
.contrast input[type=date],
.contrast input[type=month],
.contrast input[type=week],
.contrast input[type=datetime],
.contrast input[type=datetime-local],
.contrast textarea,
.contrast input[type=number] {
    background: rgba(207, 207, 207, 0.497) !important;
    border: 1px solid rgba(207, 207, 207, 0.497) !important;
    color: rgb(0, 0, 0) !important;
}

.contrast img.on-contrast-force-gray {
    filter: grayscale(100%) contrast(120%);
}

.contrast img.on-contrast-force-white {
    filter: brightness(0) invert(1);
}

.contrast span {
    background-color: rgb(255, 251, 240) !important;
}