@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url(./css/style.css);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'quicksand';
}

body {
    font-size: 16px;
}

.container {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.253);
    width: 82vw !important;
    border-radius: 20px;
    margin-top: 8rem !important;
}

.container h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 3vh;
    letter-spacing: 0.3px;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #6a6767d9, 0 3px 0 rgb(111, 106, 106), 0 2px 0 #777272, 0 2px 0 rgb(103, 101, 101);
    padding-top: 20px;


}

.banner_img {
    position: fixed;
    width: 34vh;
    z-index: 100;
    right: 0pt;
    float: right;
    bottom: 0pt;
}

.images {
    height: 30vh;
    font-size: 0;
    float: center;
}

img {
    opacity: 0.9;
}

img:hover {
    opacity: 1;
}

.spot_images {
    height: 30vh;
    width: 33.3%;
    object-fit: cover;
}

.spot_images_restaurantes {
    height: 15vh;
    width: 32.8%;
    object-fit: cover;
}

.info {
    padding: 1vw 3vw 0 3vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

p {
    color: #fff;
    line-height: 1.5rem;
    font-size: 15px;
}

h3 {
    margin-top: 1px;
    margin-bottom: 10px;
    color: #bb0a1e;
    text-transform: uppercase;
}


/* .row {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    padding: 1vw 1vw 0 1vw;
} */

.section_spacing {
    width: 6%;
}

.mapa {
    margin-top: 20px;
    width: 100%;
    min-height: 60vh;
    border: 0;
}

.avaliation {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.person_name {
    color: #f5b064;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: .2rem;
}

.avaliation_content {
    /* position: absolute; */
    align-self: center;
    margin-top: 7%;
    margin-left: -5%;
    font-weight: 300;
    background-color: #820a0b;
    border-radius: 0% 5% 5% 5%;
    padding: 1rem 2rem 1rem 6.5vmin;
    width: 100%;
    display: flex;
    align-items: center;
}

.avaliation_text {
    display: flex;
    flex-direction: column;
}

.grade {
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: solid;
    margin-top: 10px;
}

.fa-star {
    letter-spacing: -5px;
}

.gray-star {
    color: rgba(255, 255, 255, 0.4);
}

.person_img {
    border-radius: 50%;
    height: 14.5vmin;
    z-index: 1;
    position: relative;
}

@media screen and (max-width: 700px) {
    .card {
        margin: 1rem auto !important;
        margin-bottom: 1rem !important;
    }

    .section_spacing {
        width: 0%;
    }

    .info {
        display: flex;
        flex-direction: column;
    }

    .card_curiosidades {
        margin: 0 auto 0rem auto !important;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 0px !important;
    }
}

.card {
    background-color: rgba(72, 72, 72, 0.322) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 15.5rem;
    height: 95%;
    text-align: center;
    padding: 0.4rem;
    font-family: arial;
    margin-bottom: 4rem !important;
    margin: 0.5rem 1px !important;
}

.card p {
    margin-bottom: 0 !important;
    font-size: 13px !important;
}

.custom-btn {
    align-self: center;
}

.price {
    color: grey;
    font-size: 16px;
}

.card_images {
    height: 16vh;
    width: 14.6rem;
    object-fit: fill;
}

/* 6 */
.btn-6 {
    background: rgb(48, 48, 48) !important;
    text-transform: none !important;
    font-weight: 400 !important;
    color: #fff !important;
    font-size: 15px !important;
    cursor: pointer !important;
    line-height: 42px !important;
    padding: 0 !important;
    width: 8rem !important;
    margin: 1rem !important;
    border: none;
}

.btn-6 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-6:before,
.btn-6:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 2px;
    background: rgb(87, 87, 87);
}

.btn-6 span:before,
.btn-6 span:after {
    position: absolute;
    content: "";
    background: rgba(255, 255, 255, 0.104);
}

.btn-6 span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: 2px;
    transition: all 800ms ease;
}

.btn-6 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    transition: all 800ms ease;
}

.btn-6 span:hover:before {
    width: 100%;
}

.btn-6 span:hover:after {
    width: 100%;
}

.row_curiosidades {
    margin-bottom: 1rem;
}

.card_curiosidades {
    max-width: 14.2rem;
    background-color: #000;
    border: 3px solid #9c9c9c94 !important;
    margin-left: 1rem;
    margin-right: 0;
    margin-top: 1rem;
}

h4 {
    font-size: 45px !important;
    color: white;
    padding: 1px 6px;
}

/* Add some padding inside the card container */
.container_card {
    display: flex;
    padding: 30px 28px;
}

h5 {
    font-size: 18px !important;
    color: white;
    margin-top: 5px !important;
}

h6 {
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-top: 1rem;
    text-align: center;
}

.card_curiosidades:hover {
    background-color: #000;
    border: 3px solid #5b5b5b2e !important;
    box-shadow:
        0 0 12px 1px #800015,
        0 0 12px 1px #8000157d,
        0 0 12px 1px #b90422;
}

#altocontraste {
    width: 9.3vh;
    height: 6vh !important;
    background-color: rgba(48, 47, 47, 0.907) !important;
    border-radius: 0.8vh;
    color: #fff;
    font-size: 1.88vh !important;
    margin-left: 60%;
    font-weight: 400 !important;
    z-index: 100 !important;
    ;
    right: 0vh !important;
    ;
    margin-top: -0.5vh !important;
    float: right !important;
    ;
    line-height: 100% !important;
    position: fixed !important;
    ;
}


#txtBusca {
    float: left;
    background-color: #2e2e2e91;
    padding-left: 15px;
    font-style: italic;
    font-size: 16px;
    border: none;
    margin-top: 0.1rem;
    color: #8e8e8e;
}

.custom-input {
    margin-left: 58vh !important;
    background-color: #2e2e2e91;
    border: solid 1px #fff;
    border-radius: 20px;
    width: 35vh;
    height: 4vh !important;
}

a {
    color: rgb(255, 0, 0) !important;
    font-weight: 500;
    cursor: pointer !important;
}

li a {
    color: white !important;
}

li a:hover {
    color: rgb(255, 112, 112) !important;
}

/** posicionamento e tamanho do logo do gambito em cima **/
.box_logo {
    display: flex;
    position: fixed;
    height: 4.5vh;
    margin: auto 6%;
    z-index: 999;
}