@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/** personalização da barra de rolagem **/
::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #737373;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #545454;
}

::-webkit-scrollbar-thumb:active {
    background: #9c9c9c;
}

::-webkit-scrollbar-track {
    background: #2e2e2e;
    border: 0px none #ffffff;
    border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
    background: #303030;
}

::-webkit-scrollbar-track:active {
    background: #333333;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

p::selection {
    color: #fff;
    background-color: #000000;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'quicksand';
}

a {
    color: #bd0221 !important;
    font-weight: 800;
    font-size: 17.5px;
    line-height: 2rem;
    margin-top: 0.5rem;
    text-decoration: none !important;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

/** corpo do site e seu fundo **/
body,
::selection {
    padding-top: 10vh;
    margin: 0;
    background-color: #000;
    background-image: url(../images/pontosturisticos/background-pontosturisticos.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    overflow-x: hidden;
}

.bg-dark {
    color: #000 !important;
}

/** menu acima **/
.header {
    backdrop-filter: blur(9px) saturate(0%);
    -webkit-backdrop-filter: blur(9px) saturate(0%);
    background-color: rgba(0, 0, 0, 0.367);
    position: fixed;
    top: 0;
    width: 100%;
    height: 8.5vh;
    z-index: 999;
    box-shadow: 0px 0px 6px 0px rgba(71, 71, 71, 0.353);
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}

/** posicionamento e tamanho do logo do gambito em cima **/
.box_logo {
    display: flex;
    position: fixed;
    height: 3.5rem;
    margin: auto 5%;
    z-index: 999;
}

.menu>a {
    margin-right: 1rem;
    display: none;
    color: white;
}

/* @media screen and (max-width: 1000px) {
  .menu ul {
    display: none !important;
  }

  .menu>a {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1000px) {

  .menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .menu.responsive ul {
    float: none;
    display: block !important;
    text-align: left;
  }
} */

.menu {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}

.menu li {
    list-style-type: none;
    margin-right: 20px !important;
}

.menu ul {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.menu ul li a {
    font-family: 'Quicksand', sans-serif !important;
    letter-spacing: 2.2px !important;
    font-size: 1.28em !important;
    color: #cacaca !important;
    padding: 0px 20px 0px 10px !important;
    text-decoration: none;
    font-weight: 400 !important;
    text-transform: none !important;
    border-bottom: 1px transparent !important;
    line-height: 1 !important;
}

.menu ul li a:hover {
    content: attr(data-item);
      transition: all 0.7s ease-in !important;
    color: #d41b1bc1 !important;
    text-decoration: none !important;
    border-bottom: 1px solid #c11919c1 !important;
    padding-bottom: .3rem !important;
    line-height: 1 !important;
  }

.menu ul li a {
    transition: all .45s ease-in-out !important;
}

.container {
    margin: 30px auto 30px auto;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.253);
    width: 72vw !important;
    border-radius: 20px;
    margin-top: 3vh;
}

.container h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 3vh;
    letter-spacing: 0.3px;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #6a6767d9, 0 3px 0 rgb(111, 106, 106), 0 2px 0 #777272, 0 2px 0 rgb(103, 101, 101); padding-top: 20px;

    
}



h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: #fff;
    font-size: 1.5rem !important;
    margin-top: 11vh !important;
    margin-bottom: 3vh !important;
    text-align: center;
}

.banner_img {
    position: fixed;
    width: 34vh;
    z-index: 100;
    right: 0pt;
    float: right;
    bottom: 0pt;
}

.images {
    height: 30vh;
    font-size: 0;
    float: center;
}

img {
    opacity: 0.9;
}

img:hover {
    opacity: 1;
}

.spot_images {
    height: 30vh;
    width: 33.3%;
    object-fit: cover;
}

.spot_images_restaurantes {
    height: 15vh;
    width: 32.8%;
    object-fit: cover;
}

.info {
    padding: 1vw 3vw 0 3vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

p {
    color: #fff;
    text-align: justify;
    line-height: 1.5rem;
    font-size: 15px;
}

h3 {
    margin-top: 1px;
    margin-bottom: 10px;
    color: #bb0a1e;
    text-transform: uppercase;
}


/* .row {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    padding: 1vw 1vw 0 1vw;
} */

.section_spacing {
    width: 6%;
}

.mapa {
    margin-top: 20px;
    width: 100%;
    min-height: 60vh;
    border: 0;
}

.avaliation {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.person_name {
    color: #f5b064;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: .2rem;
}

.avaliation_content {
    /* position: absolute; */
    align-self: center;
    margin-top: 7%;
    margin-left: -5%;
    font-weight: 300;
    background-color: #820a0b;
    border-radius: 0% 5% 5% 5%;
    padding: 1rem 2rem 1rem 6.5vmin;
    width: 100%;
    display: flex;
    align-items: center;
}

.avaliation_text {
    display: flex;
    flex-direction: column;
}

.grade {
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: solid;
    margin-top: 10px;
}

.fa-star {
    letter-spacing: -5px;
}

.gray-star {
    color: rgba(255, 255, 255, 0.4);
}

.person_img {
    border-radius: 50%;
    height: 14.5vmin;
    z-index: 1;
    position: relative;
}

@media screen and (max-width: 700px) {
    .card {
        margin: 1rem auto !important;
        margin-bottom: 1rem !important;
    }

    .section_spacing {
        width: 0%;
    }

    .info {
        display: flex;
        flex-direction: column;
    }

    .card_curiosidades {
        margin: 0 auto 0rem auto !important;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 0px !important;
    }
}

.card {
    background-color: #000 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 15.5rem;
    height: 95%;
    text-align: center;
    padding: 0.4rem;
    font-family: arial;
    margin-bottom: 4rem !important;
    margin: 0.5rem 1px !important;
}

.card p {
    margin-bottom: 0 !important;
    font-size: 13px !important;
}

.custom-btn {
    align-self: center;
}

.price {
    color: grey;
    font-size: 16px;
}

.card_images {
    height: auto;
    width: 14.6rem;
    object-fit: fill;
}

/* 6 */
.btn-6 {
    background: rgb(48, 48, 48) !important;
    text-transform: none !important;
    font-weight: 400 !important;
    color: #fff !important;
    font-size: 15px !important;
    cursor: pointer !important;
    line-height: 42px !important;
    padding: 0 !important;
    width: 8rem !important;
    margin: 1rem !important;
    border: none;
}

.btn-6 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-6:before,
.btn-6:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 2px;
    background: rgb(87, 87, 87);
}

.btn-6 span:before,
.btn-6 span:after {
    position: absolute;
    content: "";
    background: rgba(255, 255, 255, 0.104);
}

.btn-6 span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: 2px;
    transition: all 800ms ease;
}

.btn-6 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    transition: all 800ms ease;
}

.btn-6 span:hover:before {
    width: 100%;
}

.btn-6 span:hover:after {
    width: 100%;
}

.row_curiosidades {
    margin-bottom: 1rem;
}

.card_curiosidades {
    max-width: 14.2rem;
    background-color: #000;
    border: 3px solid #9c9c9c94 !important;
    margin-left: 1rem;
    margin-right: 0;
    margin-top: 1rem;
}

h4 {
    font-size: 45px !important;
    color: white;
    padding: 1px 6px;
}

/* Add some padding inside the card container */
.container_card {
    display: flex;
    padding: 30px 28px;
}

h5 {
    font-size: 18px !important;
    color: white;
    margin-top: 5px !important;
}

h6 {
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-top: 1rem;
    text-align: center;
}

.card_curiosidades:hover {
    background-color: #000;
    border: 3px solid #5b5b5b2e !important;
    box-shadow:
        0 0 12px 1px #800015,
        0 0 12px 1px #8000157d,
        0 0 12px 1px #b90422;
}